@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat-VariableFont_wght.ttf');
}

body {
    font-size: 16px;
    font-family: 'Montserrat';
    color: #fff;
}

.folder {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.file-manager {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #00171F;
    border-radius: 10px;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 40vw;
    min-height: 60vh;
    padding: 20px;
}

.file-manager-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.file-manager-header-path {
    color: #007EA7;
}

.file-manager-header-folder {
    color: #007EA7;
    text-decoration: none;
}

.btn {
    font-size: 14px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    color: #fff;
    background-color: #003459;
    min-width: 5vw;
    min-height: 4vh;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    background-color: #007EA7;
}

.btn:active {
    background-color: #00A8E8;
}

.btn-danger {
    background-color: #590000;
}

.btn-danger:hover {
    background-color: #a70000;
}

.btn-danger:active {
    background-color: #e80000;
}

.btn-action {
    background-color: rgba(0, 0, 0, 0);
}

.btn-action:hover {
    background-color: rgba(0, 0, 0, 0);
}

.file-manager-table-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    border-bottom: 1px solid #ffffff;
}

.file-manager-table-body {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 70vh;
    scrollbar-width: thin;
    scrollbar-color: #003459 #00171F;
}

.file-manager-table-go-back {
    display: flex;
}

.file-manager-table-column {
    display: flex;
    justify-content: space-between;
}

.file-manager-table-row {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.block-action {
    position: fixed;
    flex-direction: column;
    background-color: #00171F;
    border: solid 1px #606060;
    border-radius: 15px;
    /*    max-width: 13vw;*/
    /*    max-height: 30vh;*/
    /*    min-width: 10vw;*/
    /*    min-height: 6vh;*/

    padding: 5px;
    opacity: 0;
    z-index: -9999;
    inset: 0px 0px auto auto;
    transition-property: opacity;
    transition: 0.3s;
}

.action-item {
    padding: 7px 5px;
    border-radius: 10px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    transition: 0.3s;
}

    .action-item:hover {
        cursor: pointer;
        background-color: #003459;
    }

    .action-item:active {
        background-color: #00A8E8;
    }

.action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 10px 2px 2px;
}

.action-span {
}

.file-manager-checkbox {
    margin-right: 10px;
}

.name-folder {
    width: 60%;
}

.date {
    width: 20%;
}

.size {
    width: 10%;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.file-title:hover {
    cursor: pointer;
    color: #00A8E8;
}

.column-name-file {
    width: 80%;
    margin-left: 10px;
}

.column-icon {
    width: 10%;
    margin-left: 5px;
}

.column-progress {
    width: 10%;
}

.file-uploader {
    display: flex;
    flex-direction: column;
    background-color: #00171F;
    /*border: solid 1px #606060;*/
    border-radius: 10px;
    max-width: 40vw;
    max-height: 50vh;
    min-width: 20vw;
    padding: 20px;
}

.file-uploader-header {
    border: dashed 1px #606060;
    border-radius: 10px;
    min-height: 10vh;
    max-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .file-uploader-header:hover {
        cursor: pointer;
        border-color: #b6b6b6;
    }

.file-uploader-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icon-uploaded {
    background-image: url("../icons/uploaded.svg");
    color: #ffffff;
    width: 50px;
    height: 50px;
}

.info {
    padding-left: 20px;
}

.file-uploader-body {
    font-size: 14px;
    margin-top: 10px;
}

.file-uploader-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #003459;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    max-width: 30vw;
}

.file-uploader-file-uploaded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003459;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.file-uploader-item-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.progress-bar, .progress {
    height: 5px;
    border-radius: 10px;
}

.progress-bar {
    width: 95%;
    background-color: #ffffff;
    margin-bottom: 5px;
}

    .progress-bar .progress {
        width: 50%;
        background-color: #00A8E8;
    }

.icon-file {
    background-image: url("../icons/file.svg");
    color: #ffffff;
    width: 25px;
    height: 25px;
}

.icon-check {
    background-image: url("../icons/check.svg");
    color: #ffffff;
    width: 25px;
    height: 25px;
}

.file-uploader-items {
    margin-top: 10px;
    display: grid;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.input-text {
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat';
    background-color: #003459;
    height: 20px;
    outline: none;
    border-radius: 5px;
    /*border: solid 1px #606060;*/
    border: 0;
    padding: 8px;
    margin-right: 5px;
}

.modal {
    top: 0;
    left: 0;
    z-index: -9999;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    inset: 0px 0px auto auto;
    transition-property: opacity;
    transition: 0.3s;
}

.modal-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00171F;
    /*border: solid 1px #606060;*/

    opacity: 1;
    border-radius: 10px;
    padding: 15px;
    inset: 0px 0px auto auto;
    transition-property: opacity;
    transition: 0.3s;
}

.active {
    opacity: 1;
    display: flex;
    z-index: 9999;
}

.hidden {
    display: none;
}

[v-cloak] {
    display: none;
}

input[type=checkbox].checkbox {
    display: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.label-checkbox > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

    .label-checkbox > span::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #8a9cae;
        border-radius: 0.25em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

.label-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: #007EA7;
}

.label-checkbox > input:not(:disabled):active + span::before {
    background-color: #007EA7;
    border-color: #007EA7;
}

.label-checkbox > input:focus + span::before {
    box-shadow: 0 0 0 0.2rem rgb(0, 168, 232, 0.25);
}

.label-checkbox > input:checked + span::before {
    border-color: #00A8E8;
    background-color: #00A8E8;
    background-size: 100%;
    background-image: url("/icons/check.svg");
}

.label-checkbox > input:disabled + span::before {
    background-color: #e9ecef;
}

.preloader {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}